/************** 
COLORS:
#083E6C - BG TREE DARK BLUE
#0B699F - BG TREE BLUE
#0E98C6 - BG TREE LIGHT BLUE
#10C2DE - BG STRUCTURE LIGHT BLUE
#F2FCFE - BG WHITE
#49204A - TITLE PURPLE
#EAF2F5 - TITLE WHITE
#FFFDB3 - TITLE YELLOW
***************/

/* ----------------------------------------------- */
/* UNIVERSAL */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../dist/img/bg-standard-commando.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

/* ----------------------------------------------- */
/* ITEM SELECT SECTION */
/* ----------------------------------------------- */

.container-left {
  float: left;
  display: grid;
  width: 33%;
  margin: 10px;
}
   
.grid-container {
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
  border: 3px solid #ffffff;
  /* overflow-y: auto;
  overflow-x: hidden; */
  grid-template-columns: auto auto auto auto auto auto ;
}

.item-img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.5s;
}

.item-img:hover {
  border: 3px solid #ffffff;
}

.common {
  border: 2px solid #DBE1E3;
}

.uncommon {
  border: 2px solid #72B542;
}

.tooltip {
  position: relative;
  display: inline-block;
}
  
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.5s;
}
  
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ----------------------------------------------- */
/* ITEM LIST SECTION */
/* ----------------------------------------------- */

.container-right {
  float: right;
  width: 33%;
  margin: 10px;
  color: #ffffff;
  border: 3px solid #ffffff
}

h2, .item-list {
  padding-left: 5px;
  padding-top: 5px;
}

/* .item-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.item-list-item {
  display: block;
  height: 70px;
  width: 100%;
  margin-bottom: 3px;
}

.item-list-img {
  float: left;
}

/* h3 {
  position: relative;
  left: 5px;
} */

/* .item-effect {
  position: relative;
  top: -20px;
  left: 5px;
}

.second-item-effect {
  position: relative;
  top: -20px;
  left: 5px;
} */


.stack-number {
  position: relative;
  left: -25px;
  top: 10px;
  font-weight: 800;
}

.stack-number-mod {
  position: relative;
  left: -25px;
  top: -8px;
  font-weight: 800;
}

/* .item-description {

} */