/* ----------------------------------------------- */
/* GLOBAL VARIABLES */
/* ----------------------------------------------- */

:root {
  --color-dark-blue: #083E6C;
  --color-blue: #0B699F;
  --color-light-blue: #0E98C6;
  --color-light-blue-2: #10C2DE;
  --color-white: #F2FCFE;
  --color-white-2: #EAF2F5;
  --color-purple: #49204A;
  --color-yellow: #FFFDB3;
  --color-light-gray: #888;
  --color-gray: #555;
  --color-dark-gray: #444;
}

/* ----------------------------------------------- */
/* UNIVERSAL */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../dist/img/bg-standard-commando.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container-title {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-white-2);
  color: var(--color-white-2);
}

.item-img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border 0.5s;
}

.item-img:hover {
  border: 3px solid #ffffff;
}

.common {
  border: 2px solid #DBE1E3;
}

.uncommon {
  border: 2px solid #72B542;
}

.legendary {
  border: 2px solid #f75b46;
}

.lunar {
  border: 2px solid #3bd3f0;
}

.boss {
  border: 2px solid #c8d924;
}

.equipment {
  border: 2px solid #e28c2d;
}

.item {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-left: 1px solid var(--color-white-2);
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* ----------------------------------------------- */
/* CHOOSE YOUR ITEMS SECTION */
/* ----------------------------------------------- */

.container-left {
  float: left;
  display: grid;
  width: calc(33% + 5px);
  margin: 10px;
  color: #ffffff;
  border: 3px solid var(--color-white-2);
}
   
.grid-container {
  padding-left: 5px;
  padding-top: 5px;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* ----------------------------------------------- */
/* ITEM EFFECTS SECTION */
/* ----------------------------------------------- */

.container-right {
  float: right;
  width: 33%;
  margin: 10px;
  color: #ffffff;
  border: 3px solid var(--color-white-2);
}

.item-list {
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.item-list-item {
  display: block;
  height: 70px;
  width: 100%;
  margin-bottom: 3px;
}

.item-list-img {
  float: left;
}

.stack-number {
  position: relative;
  left: 43px;
  top: -63px;
  font-weight: 800;
}

.item-description {
  position: relative;
  top: -75px;
  left: 75px;
}